apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: urls-ingress
  namespace: urls
spec:
  rules:
    - http:
        paths:
          - path: /api/v1
            pathType: Prefix
            backend:
              service:
                name: urls-service
                port:
                  number: 9091
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: iam-service
                port:
                  number: 9092
          - path: /
            pathType: Prefix
            backend:
              service:
                name: urls-frontend
                port:
                  number: 80
